.contact-chat {
    height: 19.8%;
}
.contact-chat:hover{
    background-color: lightgray;
}
img{
    width: 40%;
}
.send-time{
    float: right;
}

#chatPic {
    width: 70px;
    border-radius: 50%;
}

.chats {
    height: 620px;
}